*{
    margin:0px;
    padding:0px;
}


/*Se aplica borde al cuerpo, que no tendrá márgenes*/
body{
    border: 10px solid red;
    margin: 0px;

    display: flex;
    align-items: center;
}



html,body{
    height:100%;
    box-sizing: border-box;
}




/*Cambio el fondo a cada una de las columnas*/

.fondo1{
    height:100%;
    background-color: #1abc9c;
}

.fondo2{
    height:100%;
    background-color: #3498DB;
}


.fondo3{
    height:100%;
    background-color: #9B59B6;
}


.fondo4{
    height:100%;
    background-color: #34495E;
}


.fondo5{
    height:100%;
    background-color: #F1C40F;
}


.fondo6{
    height:100%;
    background-color: #E67E22;
}


.fondo7{
    height:100%;
    background-color: #E74C3C;
}


.fondo8{
    height:100%;
    background-color: #BDC3C7;
}


.fondo9{
    height:100%;
    background-color: #2ECC71;
}


.fondo10{
    height:100%;
    background-color: #16A085;
}





/*Estilo que se aplica a todos los párrafos.*/
p{
    font-size: 100px;
    padding:10px 10px 0px;
    color:rgb(255, 255, 255);
    font-family: Arial;
}

/*Estilos específicos que se aplicarán a cada tipo de párrafo*/
p.tipo-letra1{
    text-shadow: 4px 4px #17A98C;
}

p.tipo-letra2{
    text-shadow: 4px 4px #2F89C5;
}

p.tipo-letra3{
    text-shadow: 4px 4px #8B50A3;
}

p.tipo-letra4{
    text-shadow: 4px 4px #2F4254;
}

p.tipo-letra5{
    text-shadow: 4px 4px #D8B00D;
}

p.tipo-letra6{
    text-shadow: 4px 4px #CF711F;
}

p.tipo-letra7{
    text-shadow: 4px 4px #CF4436;
}

p.tipo-letra8{
    text-shadow: 4px 4px #AAAFB3;
}

p.tipo-letra9{
    text-shadow: 4px 4px #29B765;
}

p.tipo-letra10{
    text-shadow: 4px 4px #149077;
}